@font-face {
  font-family: Acklin;
  src: url('http://arifsetiawan.info/acklin.ttf');
}

@font-face {
  font-family: Scoder Hand;
  src: url('http://arifsetiawan.info/ScoderHand.ttf');
}

body {
	height:100%;
	width:100%;
	margin:0;padding:0;
	overflow:hidden;
	font-family: Tahoma, Arial; font-size:16px;
}

h3 {color:#29b3ec; font-size:45px; font-family: Scoder Hand, Tahoma, Arial;}

#wrapper {
	width:100%;
	height:100%;
	position:absolute;
	top:0;left:0;
	overflow:hidden;
}

#mask {
		width:500%;
		height:100%;
		
	}

#Home {padding:1% 0% 0% 2%;}
#Home span {font-family: Acklin, Tahoma, Arial; font-size:50px; color:#545454; }
#Home a{text-decoration:none;color:#545454;}
#Home a:hover{text-decoration:none; color:#29b3ec; }
#margin{width:940px; margin:0 auto; padding-top:30px;}
#sociallink span {padding:5px 0px 0px 50px; font-size:25px;}
.item {
		width:20%;
		height:100%;
		float:left;
		
	}
.clear {
		clear:both;
	}
img.ane {float:right; }
img.sirah {width:60px; height:72px;}
ul.menu {list-style:none;font-size:50px; color:#545454;}
ul.menu2{list-style:none;display:inline; color:#545454;}
li.lurus {display:inline;}

a{text-decoration:none;color:#545454;}
a:hover{text-decoration:none; color:#29b3ec; }

a.fb {background:url(images/fb2.png) no-repeat ;
	width:38px; height:39px; display:block;}
a.fb:hover {background:url(images/fb.png) no-repeat ;
	width:38px; height:39px; display:block;}
a.twitter {background:url(images/twitter2.png) no-repeat ;
	width:38px; height:39px; display:block;}
a.twitter:hover {background:url(images/twitter.png) no-repeat ;
	width:38px; height:39px; display:block;}
a.aboutme {background:url(images/aboutme2.png) no-repeat ;
	width:38px; height:39px; display:block;}
a.aboutme:hover {background:url(images/aboutme.png) no-repeat ;
	width:38px; height:39px; display:block;}
a.linkedin {background:url(images/linkedin2.png) no-repeat ;
	width:38px; height:39px; display:block;}
a.linkedin:hover {background:url(images/linkedin.png) no-repeat ;
	width:38px; height:39px; display:block;}


#gallery {width: 163px; height: 180px; border: dotted; border-color:#908d8d; border-width:thin; float:left; margin-left:30px; }	
#gallery:hover {width: 163px; height: 180px; border: dotted; border-color:#908d8d; border-width:thin; 
-webkit-box-shadow: 0px 0px 10px #29b3ec;
-moz-box-shadow:0px 0px 10px #29b3ec;
box-shadow: 0px 0px 10px #29b3ec;}
#gallery span {padding-left:10px;}
img.imggallery {margin-left:10px; margin-top:10px;  border:solid; border-width:thin; }
